<%= content_for :page_title, "Blogs Your Way" %>

<section class="session">
    <div class="container">
        <% @posts.each do |post| %>
            <div class="card">
                <div class="card-content">
                    <div class="media">
<%# Post Title %>
                        <div class="media-content">
                            <p class="title is-4"><%= link_to post.title, post %></p>
                        </div>
                    </div>
<%# Post Content %>
                    <div class="content">
                        <%= post.content %>
                    </div>
<%# Comment Count %>
                    <div class="comment-count">
                        <span class="tag is-rounded"><%= post.comments.count %> comments</span>
                    </div>

                </div>  
            </div>
        <% end %>
    </div>
</section>